<ion-view view-title="OMÜ Kulüpler">


<ion-content>

<div class="list card">

  <div class="item item-divider">
    <center>
      <h1 ng-bind="clubsData[clubId].name"></h1>
    </center>

  </div>

  <div class="item item-image">
    <img ng-src="{{clubsData[clubId].avatar}}">
  </div>

  <div class="item item-text-wrap item-icon-left positive">
    <i class="icon ion-ios-information"></i>
    <p><b>Açıklama : </b>{{clubsData[clubId].description}}</p>
  </div>

  <div class="item item-text-wrap item-icon-left positive">
    <i class="icon ion-ios-book"></i>
    <p><b>Yönetmelik : </b>{{clubsData[clubId].regulation}}</p>
  </div>

  <div class="item item-text-wrap item-icon-left positive">
    <i class="icon ion-email"></i>
    <p><b>İletişim : </b>{{clubsData[clubId].email}}</p>
  </div>

</div>

<div class="list card">
<div class="item item-divider">
    Duyurular
</div>

<div class="list">
    <a class="item" ng-repeat="notice in noticesData | filter: {club_id : clubId + 1}" ui-sref="app.notice({Id: notice.id})">{{notice.title}}</a>
</div>
</div>

<div class="list card">
<div class="item item-divider">
    Etkinlikler
</div>

<div class="list">
    <a class="item" ng-repeat="activitie in activitiesData | filter: {club_id : clubId + 1}" ui-sref="app.activitie({Id: activitie.id})">{{activitie.title}}</a>
</div>
</div>

</ion-content>
</ion-view>
