<ion-view view-title="OMÜ Kulüpler">
<ion-content class="center">
<div class="item item-divider">
    <center><h1>Kullanıcı Girişi</h1></center>
  </div>

<div class="list">
  <label class="item item-input">
    <span class="input-label">Öğrenci No</span>
    <input type="text">
  </label>
  <label class="item item-input">
    <span class="input-label">Parola</span>
    <input type="password">
  </label>
  <label class="item">
  <center><button class="button button-medium button-positive">
      Giriş Yap
  </button></center>
  </label>
</div>
<div class="list">
  <center><h2>Yapım Aşamasında !</h2></center>
</div>

</ion-content>
</ion-view>
